<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<div th:fragment="nav" class="navbar navbar-inverse">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

        <div class="navbar-collapse collapse" id="mobile_menu">
          <ul class="nav navbar-nav">
            <li><a href="../">Inicio</a></li>
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Agregar <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="../agregarGenero">Genero</a></li>
                <li><a href="../agregarSerie">Serie</a></li>
                <li><a href="../agregarLibro">Libro</a></li>
              </ul>
            </li>
            <li><a href="../mejoresSeries">Mejores Series</a></li>
            <li><a href="../mejoresLibros">Mejores Libros</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li>
              <form action="busqueda" method="post" class="navbar-form">
                <div class="form-group">
                  <div class="input-group">
                    <input type="search" name="busqueda" id="busqueda" placeholder="Buscar series o libros..." class="form-control">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                  </div>
                </div>
              </form>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">

            <li th:if="${usuarioLogueado}" ><a href="../perfil"><span th:text="' ' + ${usuarioLogueado.nombreUsuario}" class="glyphicon glyphicon-user"></span></a></li>
            <li th:if="${usuarioLogueado}"><a href="../logout">Logout</a></li>
            <li th:unless="${usuarioLogueado}"><a href="../login">Login</a></li>
            <li th:unless="${usuarioLogueado}"><a href="../registrarse">Registrarse</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
</html>