<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>

<div th:replace="fragments :: nav"> </div>


<div class="wrapper">
    <div class="col-sm-12">
        <h3 class="text-center text-black" style="margin-top: 25px; margin-bottom: 25px;">LOGUEO</h3>
    </div>

    <div id="formContent">
        <!-- Registro Form -->
        <form action="login" method="post">
            <div class="row">
                <div class="text-center text-black" style="margin-top: 25px; margin-bottom: 5px;">
                    <input id="nombre" type="text" class="fadeIn second" name="nombreUsuario" placeholder="Ingrese Nombre de usuario" maxlength="255">
                </div>
            <div class="row">
                <div class="text-center text-black" style="margin-top: 25px; margin-bottom: 5px;">
                    <input id="password" type="password" class="fadeIn third" name="password" placeholder="Ingrese Contraseña">
                </div>
            </div>
            <div class="row">
                <div class="text-center text-black" style="margin-top: 25px; margin-bottom: 5px;">
                    <input id="btnRegistrarUsuario" type="submit" class="fadeIn fourth" value="Login">
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>